<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <p><strong>Title</strong></p>
    <%= form.text_field :title %>
    <p><strong>Description</strong></p>
    <%= form.text_area :description, :class=>"outline-success" %>
      <hr size="1px" color="green" />
    <%= form.submit 'update', :class=>"btn btn-success" %>
  </div>
<% end %>
